@page "/admin"
@rendermode InteractiveServer

<div class="admin-container">
    <div class="admin-box">

        <h2>Adminansicht</h2>

        <button class="login-button" @onclick="GenerateQrCode">
            QR-Code erstellen
        </button>

        <button class="login-button" @onclick="AddAdmin">
            Admin hinzufügen
        </button>

        <button class="login-button" @onclick="DownloadResults">
            Ergebnisliste herunterladen
        </button>

        <button class="login-button" @onclick="UploadDiplomas">
            Diplomarbeitenliste hochladen
        </button>

        <div class="qr-preview">
            @if (!string.IsNullOrEmpty(QrImageBase64))
            {
                <img src="@(QrImageBase64)" alt="QR Code" />
            }
            else
            {
                <p>Noch kein QR-Code erstellt.</p>
            }
        </div>
    </div>
</div>

@code {
    private string QrImageBase64 { get; set; }

    private void GenerateQrCode()
    {
        // 1. Unique Token        
        var token = Guid.NewGuid().ToString();
        

        // 3. Payload (Beispiel)        
        var payload = $"http://172.17.10.60:5432/mibombo";


        // 4. QR-Code erzeugen        
        using var qrGenerator = new QRCoder.QRCodeGenerator();

        using var qrData = qrGenerator.CreateQrCode(payload, QRCoder.QRCodeGenerator.ECCLevel.Q);

        using var qrCode = new QRCoder.PngByteQRCode(qrData);


        var qrBytes = qrCode.GetGraphic(20);

        QrImageBase64 = $"data:image/png;base64,{Convert.ToBase64String(qrBytes)}";

        // TODO

    }

    private void AddAdmin()
    {
        // TODO
    }

    private void DownloadResults()
    {
        // TODO
    }

    private void UploadDiplomas()
    {
        // TODO
    }
}
